.wrapper {
  padding-inline: 10vw;
}

.home-box {
  position: relative;
  display: flex;
  height: 100vh;
  min-height: 700px;
  justify-content: space-between;
}

.home-text {
  position: relative;
  display: flex;
  justify-content: center;
  // align-items: center;
  min-height: 80vh;
  flex-direction: column;
  width: 50%;
  padding-left: 20px;
}

.home-text-card span {
  background: var(--third-color);
  color: var(--color-white);
  padding: 3px 8px;
  font-size: 12px;
  border-radius: 5px;
}

.home-name {
  font-size: 50px;
  font-weight: 600;
  color: var(--text-color-second);
  margin-block: 20px;
}

.typedText {
  text-transform: capitalize;
  color: var(--text-color-third);
}

.home-text-info {
  font-size: 15px;
  margin-bottom: 30px;
  color: var(--text-color-second);
}

.home-text-btn {
  display: flex;
  gap: 20px;
}

.home-text-btn > .blue-btn {
  background: var(--first-color);
  color: var(--color-white);
}

.home-text-btn > .blue-btn:hover {
  background: var(--first-color-hover);
}

.social-icons {
  display: flex;
  margin-top: 5em;
  gap: 30px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.icon:hover {
  color: var(--first-color);
}

.home-image {
  display: flex;
  justify-content: right;
  align-items: center;
  min-height: 80vh;
  width: 50%;
}
.home-image > div {
  margin: auto 0;
  width: 380px;
  height: 380px;
  border-radius: 55% 45% 55% 45%;
  overflow: hidden;
}

.home-image img {
  width: 380px;
  height: 380px;
  object-fit: cover;
}
